In [2]:
lst=[6,4,52,9,7,5,46,2,8]

# Q1

In [3]:
sum=0
for i in lst:
    sum+=i
print(sum)

139

# Q2

In [4]:
mul=1
for i in lst:
    mul*=i
print(mul)

289336320

# Q3

In [5]:
small=lst[0]
for i in lst:
    if i<small:
        small=i
print(small)

2

# Q4

In [6]:
large=0
for i in lst:
    if i>large:
        large=i
print(large)

52

# Q5

In [7]:
lst.sort()
print(lst[-2])

46

# Q6

In [11]:
n = int(input(f"Enter n value between 1 - {len(lst)} : "))
lst.sort()
print(lst[-n])

Enter n value between 1 - 9 : 2
46

# Q7

In [12]:
for i in lst:
    if i%2==0:
        print(i)

2
4
6
8
46
52

# Q8

In [13]:
for i in lst:
    if i%2!=0:
        print(i)

5
7
9

# Q9

In [14]:
lst=[[1,2,30],[],[12,45,45]]
for i in lst:
    if len(i)==0:
        lst.remove(i)
lst

[[1, 2, 30], [12, 45, 45]]

# Q10

In [16]:
lst=[2,5,3,4,3,1,6,8]
lc=[]
for i in lst:
    lc.append(i)
lc

[2, 5, 3, 4, 3, 1, 6, 8]

# Q11

In [17]:
n = int(input("Enter number from above list: "))
count=0
for i in lst:
    if i==n:
        count+=1
print(count)

Enter number from above list: 2
1